{% extends "openreader/base.html" %}

{% block htmlclass %}reader{% endblock %}
{% block bodyclass %}reader{% endblock %}
{% block pagename %}reader{% endblock %}


{% block content %}
{% include "openreader/topbar.html" %}
<div class="leftbar">
	<div class="feed all-feeds" id="unread-feed">
		<div class="feed-label">All Items<span class="unread-feed-count"></span></div>
	</div>
	<hr>
	<div id="feedslist" class="feedslist">
		{% include "openreader/feedslist.html" %}
	</div>
</div>
<div class="content">
	<div id="loading-content">
		<h2>Loading...</h2>
		<div id="spinner">
			<div id="floatingCirclesG">
				<div class="f_circleG" id="frotateG_01">
				</div>
				<div class="f_circleG" id="frotateG_02">
				</div>
				<div class="f_circleG" id="frotateG_03">
				</div>
				<div class="f_circleG" id="frotateG_04">
				</div>
				<div class="f_circleG" id="frotateG_05">
				</div>
				<div class="f_circleG" id="frotateG_06">
				</div>
				<div class="f_circleG" id="frotateG_07">
				</div>
				<div class="f_circleG" id="frotateG_08">
				</div>
			</div>
		</div>
	</div>
	<div id="feeditemslist"></div>
</div>
<script type="text/html" id="item-template">
	<div class="feed-item" data-feeditemkey="<%= key %>" data-feedkey="<%= feed %>">
		<h3><a href="<%= link %>"><%= title %></a></h3>
		<div class="item-info">from <%= feed_name %><% if (author) { %> by <%= author %><% } %></div>
		<div class="item-date"><%= moment(date).format('dddd, MMMM D, YYYY') %></div>
		<div class="item-content"><%= content %></div>
	</div>
</script>
<div class="hidden">
	<div class="feed-item no-items read" id="no-feed-items">
		<h4>Looks like you have no unread items!</h4>
	</div>
</div>

{% endblock %}
