<!doctype html>
<html>
<head>
<title>{% block title %}The Legend of Stirling{% endblock %}</title>
<meta name="description" content="{% block description %}The Legend of Stirling - the First Fan-made Lindsey Stirling Video Game for the iPhone{% endblock %}">
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Noto+Sans|Lato:300,700'>
<link rel="stylesheet" type='text/css' href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type='text/css' href="/static/css/agile_carousel.css">
<link rel="stylesheet" type='text/css' href="/static/css/style.css">
</head>
<body class="{% block pagename %}{% endblock %}">
	{% block content %}{% endblock %}
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/agile_carousel.alpha.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>

</body>
</html>